# Node modules and yarn PnP files
/node_modules
/.pnp
.pnp.*
.yarn/*

# Yarn patches, plugins, releases, and versions should be tracked
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
yarn.lock

# Testing artifacts (coverage reports, etc.)
/coverage

# Next.js build directories
.next
/.next
/out/

# Production build artifacts
/build

# OS-specific files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files (can be opted-in if needed)
.env

# Vercel specific files
.vercel

# TypeScript build information
*.tsbuildinfo
next-env.d.ts

# Husky git hooks
.husky/
.husky*


.vscode